.contact {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.contact__header {
  width: 50%;
  max-width: 840px;
  background-image: image-set(
    url(./../../img/contact/contact-bg.png) 1x,
    url(./../../img/contact/contact-bg@2x.png) 2x
  );
}
.contact__content {
  width: 50%;
  max-width: 840px;
  overflow-y: scroll;
}
.contact__container {
  padding: 96px 140px 62px;
}
.contact__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  color: var(--text-default);
  margin-bottom: 16px;
}
.contact__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: var(--text-muted);
  margin-bottom: 48px;
}

@media (max-width: 1630px) {
  .contact__container {
    padding: 80px;
  }
}
@media (max-width: 1300px) {
  .contact {
    flex-direction: column;
    height: auto;
  }
  .contact__header,
  .contact__content {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }
}
