.footer {
  margin-bottom: 80px;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}
.footer__logo {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 0.9;
  color: var(--text-default);
  margin-bottom: 32px;
}
.footer__dev li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--text-default);
  opacity: 0.6;
}
.footer__dev li:not(:last-child) {
  margin-bottom: 16px;
}
.footer__dev-link {
  color: var(--text-default);
}
.footer__pages-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.721rem + 0.77vw, 1.125rem);
  line-height: 1.6;
  color: var(--text-default);
  margin-bottom: 32px;
}
.footer__pages-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__pages-nav-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(0.75rem, 0.596rem + 0.77vw, 1rem);
  line-height: 1.6;
  color: var(--text-default);
  opacity: 0.6;
}
.footer__utility-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.721rem + 0.77vw, 1.125rem);
  line-height: 1.6;
  color: var(--text-default);
  margin-bottom: 32px;
}
.footer__utility-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__utility-nav-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(0.75rem, 0.596rem + 0.77vw, 1rem);
  line-height: 1.6;
  color: var(--text-default);
  opacity: 0.6;
}

@media (max-width: 1670px) {
  .footer__container {
    gap:25px;
  }
}

@media (max-width: 1520px) {
 
}
@media (max-width: 1080px) {
  .footer__container {
    gap: 45px;
  }
}
@media (max-width: 660px) {
   .footer__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .footer__desc {
    grid-column: 1 / -1;
  }
  .footer__pages-nav-link,
  .footer__utility-nav-link {
    line-height: 0.8;
  }
}
