.menu {
  display: flex;
  justify-content: center;
  height:  100vh;
}

.menu__header{
  width: 50%;
  max-width: 840px;
    background-image: image-set(
    url(./../../img/menu/header-bg.png) 1x,
    url(./../../img/menu/header-bg@2x.png) 2x
  );
}

.menu__content {
  width: 50%;
  max-width: 840px;
  overflow-y: scroll;
  padding-top: 60px;
}
.menu-nav {
  display: flex;
  /* display: none; */
  gap: 48px;
  align-items: center;
  justify-content: center;
  padding: 24px 32px;
}
.menu-nav__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(0.75rem, 0.596rem + 0.77vw, 1rem);
  line-height: 1.6;
  color: var(--text-muted);
}
.menu-nav__link.active {
  color: var(--text-primary);
}
.menu-categoryes {
  display: flex;
  flex-direction: column;
  gap: 96px;
  padding: 80px 0 96px;
}

@media (max-width: 1300px) {
  .menu {
    flex-direction: column;
    height:  auto;
  }
  .menu__header,
  .menu__content {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }
}

@media (max-width: 660px) {
  .menu-nav {
    gap: 16px;
    padding: 24px 6px;
  }
}
